     <!-- header -->
<div class="top_nav">
    <div class="nav_menu">
        <nav>
            <div class="nav nav_title">
                <span class="nav-item f-bold f-24 display-inline m-r-40">@Html.Raw(ViewData["TabHeading"])</span>
                @Html.Raw(ViewData["TabButton"])
                <div style="position:absolute; right:25px;">
                    <div class="position-relative custom-search">
                        @Html.Raw(ViewData["TabSearch"])
                    </div>
                </div>
               
            </div>
        </nav>
    </div>
</div>
<!-- header end-->