@model KeralaMiniMart.Entities.WebViewModels.AddCategoryViewModel
@{
    ViewData["Title"] = "Add Category";
    string stringHtml = "<span onclick=\"goToPreviousPage()\"><img src=\"/images/icons/arrow-left.png\" class=\"vertical-middle iconWidth-25 cursor-pointer m-r-20\"></span>";
    stringHtml = stringHtml + "<span class=\"display-inline\">Add Category</span>";
    ViewData["TabHeading"] = stringHtml;
    ViewData["ActiveTab"] = "category";
}
<div class="row">
    <div class="col-md-6 detail-container">
        <form asp-controller="category" id="form" asp-action="add" autocomplete="off" spellcheck="false" enctype="multipart/form-data">
            <img src="~/images/icons/default-img.png" id="tempImg" class="img-responsive add-banner-img display-inline mr-4" />
            <label for="file-input" class="btn btn-primary">Add/Change Image</label>
            <input type="file" id="file-input" name="file" class="form-control display-none" accept="image/*">
            <div>
                <input type="text" asp-for="ImageUrl" class="display-none" />
                <span id="ImageName-error" class="text-danger" asp-validation-for="ImageUrl"></span>
            </div>
            <div class="row my-1">
                <div class="col-md-9">
                    <div class="form-group">
                        <label asp-for="CategoryName" class="control-label float-label mt-2">Category Name</label>
                        <input type="text" asp-for="CategoryName" placeholder="enter category name" class="form-control" maxlength="60" value="" />
                        <span asp-validation-for="CategoryName" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row my-1">
                <div class="col-md-9">
                    <div class="form-group">
                        <label asp-for="Description" class="control-label float-label mt-2">Short Description (Optional)</label>
                        <textarea rows="2" asp-for="Description" placeholder="enter short description" class="form-control" maxlength="100"></textarea>
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="detailBtn-group">
                <button type="button" id="btnSubmit" class="btn btn-primary  mr-2">Add</button>
                <a asp-controller="category" asp-action="index" class="btn btn-secondary">Cancel</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
    <script>
        var _URL = window.URL || window.webkitURL;
        $("#file-input").change(function (e) {
            var file, img;
            $("#ImageName-error").text('');
            if ((file = this.files[0])) {
                if (file.type === "image/png" || file.type === "image/jpeg" || file.type === "image/jpg") {
                    if (file.size <= 1000000) {
                        // only valid block
                        img = new Image();
                        img.onload = function () {
                            $("#tempImg").attr("src", img.src);
                        };
                        img.src = _URL.createObjectURL(file);
                        $("#ImageUrl").val("Dummy Image URL")
                    }
                    else {
                        // size error block
                        $("#ImageUrl").val("")
                        $("#ImageName-error").text("Image size should be less than 1 MB.");
                    }
                }
                else {
                    $("#ImageUrl").val("")
                    $("#ImageName-error").text('File is not a valid image.');
                }
            }
        });
        $.validator.setDefaults({
            ignore: [],
        });

        $(document).ready(function () {
            $("#btnSubmit").click(function () {
                if ($("#form").valid()) {
                    $("#btnSubmit").prop("disabled", "true")
                    $("#form").submit();
                }
            });
        });
    </script>
}
