@{
    ViewData["Title"] = "Category";
    string stringHtml = "<span class=\"display-inline\">Categories</span>";
    string AddButton = string.Format("<span class=\"nav-item\"><a class=\"btn nav-link btn-primary m-r-20 add-icon\" href=\"/category/add\"  ><span class=\"addIcon-txt\">Add New Category</span><img src=\"/images/icons/Plus.png\" /> </a></span>");

    ViewData["TabButton"] = AddButton;
    ViewData["TabHeading"] = stringHtml;
    ViewData["ActiveTab"] = "category";
    var message = TempData["Message"] ?? string.Empty;
}
@section Styles {
    <link href="~/css/simplelightbox.css" rel="stylesheet" />
}


@await Component.InvokeAsync("Category", new { isPartial = false, filter = ViewBag.Filters })

<partial name="_deletePopup" />

@section Scripts{
    <script src="~/js/simple-lightbox.min.js"></script>

    <script>
        var message = "@message";
        if (message) {
            ShowSlackbarSucessMessage(message);
        }

        function openModal(id) {
            $('#myModal').modal('show');
            $("#delete-id").val(id)
        }

        function getRecordsByPageIndex(pageIndex) {
            var url = CreateUrlString() + "pageIndex=" + pageIndex + "&";
            $(".loader-wrapper").show();
            $.get(url, function (data) {
                $("#indexPartialContent").replaceWith(data);
                $(".loader-wrapper").hide();
            });
        }

        function CreateUrlString() {
            var url = "/category/indexpartial?";
            return url;
        }
        $(function () {
            var $gallery = $('.gallery a').simpleLightbox();
        });
    </script>
   
}